@model MicroManager.Controllers.GrowMediaController.GrowMediaViewModel //Changed to do calcs on screen

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Grow Media Purchased</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">New Purchase</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Date
            </th>
            <th>
                Type
            </th>
            <th>
                Volume = CF
            </th>
            <th>
                Order Qty
            </th>
            <th>
                Price
            </th>
            <th>
                Tax
            </th>
            <th>
                Total Price
            </th>
            <th>
                Total Qty - CF
            </th>
            <th>
                Supplier
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.GrowMedias)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Volume)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderQty)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tax)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalMediaQty)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Supplier.CompanyName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.GrowMediaId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.GrowMediaId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.GrowMediaId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

Potting Soil Total @string.Format("${0:0.##}", (double)Model.PottingSoilTotal)
Potting Soil Total Qty @string.Format("{0:0.##}", (double)Model.TotalVolume)

    Coca Total @string.Format("${0:0.##}", (double)Model.CocaTotal)
    Coca Total Qty @string.Format("{0:0.##}", (double)Model.TotalVolume)

    Sand Total @string.Format("${0:0.##}", (double)Model.SandTotal)
    Sand Total Qty @string.Format("{0:0.##}", (double)Model.TotalVolume)

    Paper Towel Total @string.Format("${0:0.##}", (double)Model.PaperTowelTotal)
    Paper Towel Total Qty @string.Format("{0:0.##}", (double)Model.TotalVolume)
