@model MicroManager.Models.Product

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductSize)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductSize.ProductSizeId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Seeds)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Seeds.SeedId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InventoryCategory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InventoryCategory.InventoryCategoryId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ProductId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
